<div class="container-class">
  <div class="image-class">
    <img src="../../../assets/plus_imagen.png" />
  </div>

  <div class="inputs" [formGroup]="formGroup">
    <div class="welcome">
      <img src="../../../assets/welcome_image.png" />
      <h3>¡Bienvenido de nuevo!</h3>
    </div>
    <div class="input-group mb-5">
      <input
        aria-label="Large"
        type="text"
        formControlName="userName"
        [(ngModel)]="userLogin.user"
        class="form-control"
        placeholder="Nombre de usuario"
      />
    </div>
    <div class="input-group mb-5">
      <input
        aria-label="Large"
        type="password"
        formControlName="pass"
        [(ngModel)]="userLogin.pass"
        class="form-control"
        placeholder="Contraseña"
      />
    </div>

    <button type="button" class="btn" (click)="login()">Ingresar</button>
  </div>
</div>
