<nav class="navbar navbar-expand-lg navbar-light">
  <div [routerLink]="['/listTickets']"  >
    <img src="../../../assets/plus_imagen.png" />
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 5%;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img class="person-img" src="../../../assets/person-circle.svg" />
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="closeSession()" >Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
