<app-menu></app-menu>

<div class="card mb-3">
    <div class="card-body">
      <h4 class="card-title">{{ticket.Id}}</h4>
      <p class="card-text"><strong>Nombre: </strong>{{ticket.Nombre}}</p>
      <p class="card-text"><strong>Celular: </strong>{{ticket.Celular}}</p>
      <p class="card-text"> <strong> Direccion: </strong> {{ticket.Direccion}}</p>
      <p class="card-text"> <strong> Estado: </strong>{{ticket.Estado}}</p>
      <p class="card-text"><strong>Fecha: </strong>{{ticket.Fecha}}</p>
      <p class="card-text"><strong>Tipo: </strong>{{ticket.Tipo}}</p>
      <p class="card-text"><strong>Otro tipo: </strong>{{ticket.TipoI}}</p>
    </div>
    <div>
        
    </div>
  </div>




